{% extends "account/base_reauthenticate.html" %}
{% load allauth %}
{% load django_bootstrap5 %}
{% block reauthenticate_content %}
    {% url 'account_reauthenticate' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% bootstrap_form form %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            <button class="btn btn-primary" type="submit">Confirm</button> 
        {% endslot %}
    {% endelement %}
{% endblock %}