{% extends "base_master.html" %}
{% load static %}
{% block title %}
    Tech Blog - Home
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <img class="d-block mx-auto mb-4" src="{% static 'home/img/logo.svg' %}" alt="logo" width="200" height="200">
            <h1 class="display-5 fw-bold text-body-emphasis">Welcome to Tech Blog</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Tech Blog focuses on topics related to technology.</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Read more...</button>
                <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> -->
              </div>
            </div>
          </div>
    </div>
{% endblock content %}

