<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Tech Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" 
        aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:index' %} ">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:post_list' %}">Blog</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:my_post_list' %}">My Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'followers:followers_list' request.user %}">My Followers</a>
                    </li>
                {% endif %}
    
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-sm-0">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle m-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Manage Account
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'profiles:profile_detail' user.profiles.id %}">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change Password</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_email' %}">Change Email Address</a></li>
                                <li><a class="dropdown-item" href="/accounts/2fa">Two-Factor Authentication</a></li>
                                <li><a class="dropdown-item" href="/accounts/sessions">Sessions</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-danger m-1" onclick="window.location = '{% url 'account_logout' %}'">Logout</button>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <button type="button" class="btn btn-success m-1" onclick="window.location = '{% url 'account_login' %}'">Login</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-warning m-1" onclick="window.location = '{% url 'account_signup' %}'">Sign Up</button>
                    </li>
                {% endif %}
            </ul>      
        </div>
    </div>
</nav>