{% extends "base_master.html" %}
{% load django_bootstrap5 %}
{% block title %}
    post create
{% endblock title %}    
{% block content %}
    <div class="container mt-3">
        {% if form_type == "Update" %}
            <h1>Update a Post</h1>
        {% else %}
            <h1>Create a Post</h1>
        {% endif %}
        
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if form_type == 'Update' and form.image.value != "" %}
                <div class="mb-3">
                    <label class="form-label" for="current-image">Current Image</label><br/>
                    <img class="img-fluid" src="/media/{{form.image.value}}" width="25%" alt="post-image">
                </div>
            {% endif %}
            
            <button type="submit" class="btn btn-primary">
                {% if form_type == "Update" %}
                    Update Post
                {% else %}
                    Create Post
                {% endif %}
            </button>

            <button type="button" class="btn btn-danger"
            onclick="window.location = '{% url 'blog:post_list' %}'">Cancel</button>
        </form>
    </div>
{% endblock content %}