{% extends "base_master.html" %}
{% load static %}
{% load humanize %}
{% load thumbnail %}
{% block title %}
    Post List
{% endblock title %}
{% block content %}
    <div class="container mt-3 mb-5">
        <div class="row justify-content-between">
            <div class="col-6">
                <h1>Feed</h1>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary float-end btn-lg" onclick="window.location = '{% url 'blog:post_create' %}'"><i class="bi bi-plus-square"></i> Create Post</button>
            </div>
        </div>
        <hr>
        {% if post_list %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for post in post_list %}
               <div class="col">
                    <div class="card h-100">
                    {% if post.image %}
                        {% thumbnail post.image "400x256" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{im.width}}" height="{{im.height}}" class="card-img-top" alt="{{post.title}}">
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'blog/img/no-img.png' %}" class="card-img-top" >
                    {% endif %}
                    
                    
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text">{{post.content|truncatechars:100}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-outline-primary btn-sm"><i class="bi bi-view-list"></i> View Post</a>
                            {% if user.is_authenticated %}
                                {% if post.owner == user %}
                                    <a href="{% url 'blog:post_update' post.id %}" class="btn btn-outline-secondary btn-sm"><i class="bi bi-pencil-square"></i> Edit Post</a>
                                    <a href="{% url 'blog:post_delete' post.id %}" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash3"></i> Delete Post</a>
                                {% endif %}
                            {% endif %}

                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">Post Date : </span>{{post.created_at|date}}
                        </li>
                        <li class="list-group-item">
                            <span class="fw-bold">Author : </span>
                            <a href="{% url 'profiles:profile_detail' post.owner.profiles.id %}" style="text-decoration: none;">
                                {% if post.owner.profiles.image %}
                                    {% thumbnail post.owner.profiles.image "30x30" crop="center" as im %}
                                        <img class="img-thumbnail rounded-circle" src="{{im.url}}" width="{{im.width}}" height="{{im.height}}" alt="{{post.owner}}">
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="img-thumbnail rounded-circle" src="/media/profiles/no-profile-picture.webp" width="30" height="30" alt="{{post.owner}}">
                                {% endif %}
                                {{post.owner.profiles.first_name}} {{post.owner.profiles.last_name}}
                            </a>
                        </li>
                    </ul>
                    <div class="card-footer">
                        <small class="text-body-secondary">Last updated {{post.updated_at|naturaltime}}</small>
                    </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info">
                There are no posts
            </div>
        {% endif %}
{% endblock content %}