{% extends "base_master.html" %}
{% load static %}
{% load humanize %}
{% block title %}
    {{post.title}}
{% endblock title %}
{% block content %}
    <div class="container mt-3">
        <div class="row justify-content-between">
            <div class="col-md-8">
                <h1>{{post.title}}</h1>
            </div>
            <div class="col-md-4">
                <div class="alert alert-info" role="alert">
                    <p>Last updated {{post.updated_at|naturaltime}}</p>
                </div> 
            </div>
        </div>
        <hr>
        <div class="clearfix">
            {% if post.image %}
                <img src="{{post.image.url}}" class="col-md-6 float-md-end mb-3 ms-md-3 img-fluid" >
            {% else %}
                <img src="{% static 'blog/img/no-img.png' %}" class="col-md-6 float-md-end mb-3 ms-md-3 img-fluid" >
            {% endif %}
            
            <p>{{post.content}}</p>
            <hr>
            <p><span class="fw-bold">Author:</span> {{post.owner}}</p>
            <p><span class="fw-bold">Post created on:</span> {{post.created_at|date}}</p>
            <hr>
            <a href="{% url 'blog:post_list' %}" class="btn btn-outline-primary"><i class="bi bi-back"></i> Back</a>
            {% if user.is_authenticated %}
                {% if post.owner == user %}
                    <a href="{% url 'blog:post_update' post.id %}" class="btn btn-outline-secondary"><i class="bi bi-pencil-square"></i> Update</a>
                    <a href="{% url 'blog:post_delete' post.id %}" class="btn btn-outline-danger"><i class="bi bi-trash3"></i> Delete</a>
                {% endif %}
            {% endif %}

        </div>
        
        
    </div>
    
{% endblock content %}