{% extends "base_master.html" %}
{% load django_bootstrap5 %}
{% block title %}
    post create
{% endblock title %}    
{% block content %}
    <div class="container mt-3">
        {% if form_type == "Update" %}
            <h1>Update a Post</h1>
        {% else %}
            <h1>Create a Post</h1>
        {% endif %}
        
        <form action="" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            
            <button type="submit" class="btn btn-primary">
                {% if form_type == "Update" %}
                    Update Post
                {% else %}
                    Create Post
                {% endif %}
            </button>

            <button type="button" class="btn btn-danger"
            onclick="window.location = '{% url 'blog:post_list' %}'">Cancel</button>
        </form>
    </div>
{% endblock content %}